@import "tailwindcss";

@theme {
  --font-content: "Cabin", sans-serif;
  --font-heading: "Raleway", cursive;
  --font-subheading: "Josefin Sans", cursive;
}

@layer components {
  @media (hover: hover) and (pointer: fine) {
    .p-button:hover,
    a:hover,
    .feedback-form .form-section:hover,
    .p-accordion .p-accordion-tab .p-accordion-header:hover,
    .custom-panel-header:hover {
      color: var(---color-slate-800, #1e293b) !important;
      background-color: var(--color-rose-300) !important;
      border-color: var(--color-rose-300, #fda4af) !important;
    }
  }
}
